<!DOCTYPE html>
<html>

<head>
  <!-- Load in libraries here -->
  <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>

<div id="root" class="container"> <!-- Vue can only access things contained within this div -->

  <div v-if="countries.length > 0">

    <select v-model="country" @change="requestCityData">
        <option disabled value="">Select a country</option>
        <option v-for="country in countries" :value="country">
        {{ country.name }}
      </option>
    </select>

    <div v-if="cities.length > 0">

      <select v-model="city" @change="requestLocationData">
        <option disabled value="">Select a city</option>
        <option v-for="city in cities" :value="city">
          {{ city.name }}
        </option>
      </select>

      <div v-if="locations.length > 0">

        <select v-model="location">
        <option disabled value="">Select a location</option>
          <option v-for="location in locations" :value="location">
            {{ location.location }}
          </option>
        </select>


        <!--
        <ul>
          <li v-for="location in locations" style="list-style-type: none;">
            <input type="checkbox" :id="location" :value="location" v-model="selectedLocations">
            <label :for="location">{{location.location}}</label>
          </li>
        </ul>
        -->

        <div v-if="location !== ''">

          <p>
            Showing
            <select v-model="parameter" @change="reloadData(parameter)">
                <option disabled value="">Select a parameter</option>
                <option v-for="parameter in parameters" :value="parameter">
              {{ parameter }}
                </option>
            </select>
             data for {{ location.location }} with a smoothing of

                <select v-model="smoothing">
                  <option v-for="s in smoothingOptions">{{s}}</option>
                </select>


          </p>

          <div v-if="traces.length > 0">

            <graph :traces="[...traces.filter(e => e.name == location.location), ...backgroundTrace]" :layout="layout" :smoothing="smoothing"></graph>

          </div>

        </div>


      </div>



    </div>

  </div>

</div>

<script src="vue-definitions.js"></script>

</body>
</html>